.pokemon-card {
    width: 100%;
    border-radius: 15px;
    background-color: #FAFAFA;
    border: 2px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 0px;
    position: relative;
}

.pokemon-card:hover {
    transform: scale(1.10);
    transition: transform 500ms;
}

.pokemon-name {
    text-align: center;
}

.pokemon-img {
    width: 100%;
}

.pokemon-types {
    text-align: center;
    font-weight: 500;
    padding-bottom: 8px;
}

.pokemon-types-img {
    max-width: 25px;
}

.pokemon-stat-li {
    font-size: 14px;
}

.pokemon-types-div {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 8px 0px 5px 0px;
}

.pokemon-card:hover {
    box-shadow: 5px 5px 15px 5px #929292;
    /*
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, 
    -9px 5px 15px 5px #FFE488, 
    -7px -5px 15px 5px #8CFF85, 
    12px -5px 15px 5px #80C7FF, 
    12px 10px 15px 7px #E488FF, 
    -10px 10px 15px 7px #FF616B, 
    -10px -7px 27px 1px #8E5CFF, 
    7px 7px 27px 5px rgba(133,133,133,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, 
    -9px 5px 15px 5px #FFE488, 
    -7px -5px 15px 5px #8CFF85, 
    12px -5px 15px 5px #80C7FF, 
    12px 10px 15px 7px #E488FF, 
    -10px 10px 15px 7px #FF616B, 
    -10px -7px 27px 1px #8E5CFF, 
    7px 7px 27px 5px rgba(133,133,133,0);*/
}

.generation-badge {
    position: absolute;
    color: #FAFAFA;
    top: -2px;
    right: -2px;
    padding: 10px 15px;
    border-radius: 5px 15px 5px 15px;
    aspect-ratio: 1 / 1;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.generation-1 {
    background-color: #8FBC8F;
}

.generation-2 {
    background-color: #b83737;
}

.generation-3 {
    background-color: #DAA520;
}

.generation-4 {
    background-color: #18c418;
}

.generation-5 {
    background-color: #b5b521;
}

.generation-6 {
    background-color: #FF00FF;
}

.generation-7 {
    background-color: #FFA500;
}

.generation-8 {
    background-color: #800080;
}
