.error-message {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 32px;
    color: #FFFFFF;
    background-color: #C21757;
}