header {
    max-width: 1440px;
    height: 600px;
}

h1 {
    font-size: 48px;
    font-family: "Pokémon solid";
    color: #C21757;
    width: auto;
}

.header {
    width: auto;
    padding-top: 50px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
}

img, h1 {
    margin: auto;
}
