.pokedex {
    display: grid;
    max-width: 1440px;
    padding: 60px 60px 100px 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 200px);
    gap: 45px;
    margin: auto;
}


@media screen and (max-width: 1023px) {
    .pokedex {
        padding: 60px 50px 100px 50px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 719px) {
    .pokedex {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 375px) {
    .pokedex {
        grid-template-columns: 1fr;
    }
}